# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
env/
crm/

# Django stuff
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/

# Environment files
.env

# VSCode / IDE
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

notes.txt