{% extends 'base.html' %}
{% block content %}
<div class="col-md-6 offset-md-3 mt-4">
  <h1 class="mb-4 text-center">Employee Record</h1>

  <table class="table table-bordered table-striped text-center">
    <thead class="table-dark">
      <tr>
        <th>Field</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><strong>ID</strong></td>
        <td>{{ emp_record.id }}</td>
      </tr>
      <tr>
        <td><strong>Name</strong></td>
        <td>{{ emp_record.name }}</td>
      </tr>
      <tr>
        <td><strong>Position</strong></td>
        <td>{{ emp_record.position }}</td>
      </tr>
      <tr>
        <td><strong>Salary</strong></td>
        <td>{{ emp_record.salary }}</td>
      </tr>
    </tbody>
  </table>

  <div class="text-center mt-3">
    <a href="{% url 'home' %}" class="btn btn-secondary me-2">Back to Employee List</a>
    <a href="{% url 'delete_record' emp_record.id %}" class="btn btn-danger">Delete Record</a>
    <a href="{% url 'update_record' emp_record.id %}" class="btn btn-secondary me-2">Update the records</a>
  </div>
</div>
{% endblock %}
